.stf-fatal-message.stf-modal
  .modal-header.dialog-header-errorX
    button(type='button', ng-click='cancel()').close &times;
    h4.modal-title.text-danger
      i.fa.fa-warning
      .button-spacer
      span(translate) Device was disconnected
  .modal-body
    h4(translate, ng-bind='device.likelyLeaveReason | likelyLeaveReason')

  .modal-footer
    button.btn.btn-primary-outline.pull-left(type='button', ng-click='ok()')
      i.fa.fa-refresh
      span(translate) Try to reconnect
