.interact-control.fill-height.as-table.stf-device-control(ng-controller='DeviceControlCtrl')
  .as-cell.fill-height
    .as-table.fill-height
      .as-row.fill-height
        div(ng-controller='DeviceScreenCtrl', ng-if='device').as-cell.fill-height
          div(ng-file-drop='installFile($files)', ng-file-drag-over-class='dragover').fill-height
            device-context-menu(device='device', control='control')
              device-screen(device='device', control='control')

      .stf-vnc-bottom.as-row(ng-hide='$root.standalone')
        .controls.as-cell
          .btn-group.btn-group-justified
